In [78]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [79]:

# File to Load 
HeroesOfPymoli_file = "Resources/purchase_data.csv"



# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(HeroesOfPymoli_file)


purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [80]:
# Player Count

total_players = len(purchase_data["SN"].value_counts())

player_count = pd.DataFrame({"Total Players":[total_players]})

player_count

   Total Players
0            576

In [81]:
#Purchasing Analysis (Total)

number_of_unique_items = purchase_data["Item ID"].nunique()

Total_Revenue = purchase_data["Price"].sum()

Average_Price = purchase_data["Price"].mean()

Number_of_Purchases = purchase_data["Item Name"].count()

# Creating a Dataframe
purchasing_analysis = pd.DataFrame ({"Number of Unique Items": [number_of_unique_items],"Average Price": [Average_Price],
                                      "Number of Purchase": [Number_of_Purchases],
                                      "Total Revenue":[Total_Revenue]})

purchasing_analysis["Average Price"]= purchasing_analysis["Average Price"].map("${:.2f}".format)

purchasing_analysis

   Number of Unique Items Average Price  Number of Purchase  Total Revenue
0                     183         $3.05                 780        2379.77

In [82]:

# # Gender Demographics

Group_gender = purchase_data.groupby("Gender")["SN"].nunique()


gender_percentage = Group_gender / total_players * 100


# Data Frame for Demographics

Gender_demographics = pd.DataFrame({"Total Count": Group_gender,"Percentage of Players": gender_percentage})

#Formating
Gender_demographics["Percentage of Players"]= Gender_demographics["Percentage of Players"].map("${:.2f}".format)


Gender_demographics

                       Total Count Percentage of Players
Gender
Female                          81                $14.06
Male                           484                $84.03
Other / Non-Disclosed           11                 $1.91

In [83]:
# Purchasing Analysis (Gender)
 
    # Purchase Count
    #Average Purchase Price
    #Total Purchase Price
    #Avg Total Purchase Per Person

Purchase_Count = purchase_data["Gender"].value_counts()

grouped_gender_APP = purchase_data.groupby("Gender")["Price"].mean()

grouped_gender_TPV = purchase_data.groupby("Gender")["Price"].sum()

Avg_Total_Purchase_Per_Person = grouped_gender_TPV/Group_gender

# DataFrame for Purchasing Analysis

Purchasing_Analysis = pd.DataFrame({"Purchase Count":Purchase_Count,
                                    "Average Purchase Price":grouped_gender_APP,
                                    "Total Purchase Price":grouped_gender_TPV,
                                    "Avg Total Purchase Per Person":Avg_Total_Purchase_Per_Person})

#top Index Format
Gender_demographics.index.name = "Gender"

#formating



Purchasing_Analysis["Average Purchase Price"] = Purchasing_Analysis["Average Purchase Price"].map("${:.2f}".format)

Purchasing_Analysis["Total Purchase Price"] = Purchasing_Analysis["Total Purchase Price"].map("${:.2f}".format)

Purchasing_Analysis["Avg Total Purchase Per Person"] = Purchasing_Analysis["Avg Total Purchase Per Person"].map("${:.2f}".format)


Purchasing_Analysis

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase Per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [84]:
#Age Demographics
    # Purchase Count
    # Average Purchase Price
    # Total Purchase Value
    # Average Purchase Total per Person by Age Group

    
maximum_age= purchase_data["Age"].max()
maximum_age

45

In [85]:

minimum_age=purchase_data["Age"].min()
minimum_age

7

In [105]:
#Creating bins for ages

bins = [0,9, 14, 19, 24, 29, 34, 39, 100]

# Labels for the bins
age_ranges = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

my_total_number_of_players = purchase_data["SN"].nunique()

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=age_ranges)
purchase_data

# Groupby Age Group
age_groupby = purchase_data.groupby("Age Group")



# The total Count of Players based on SN
total_count_age = age_groupby["SN"].nunique()


# Calculating Percentages of each age_range based on Age categoty of Purchased data

Percentage_age =(total_count_age/total_players)*100


#Creating A DataFrame
Age_Demographics = pd.DataFrame({"Total Count":total_count_age,"Percentage of Players": Percentage_age })


#Formating
Age_Demographics.index.name = None

Age_Demographics["Percentage of Players"] = Age_Demographics["Percentage of Players"].map("${:.2f}".format)

Age_Demographics

       Total Count Percentage of Players
<10             17                 $2.95
10-14           22                 $3.82
15-19          107                $18.58
20-24          258                $44.79
25-29           77                $13.37
30-34           52                 $9.03
35-39           31                 $5.38
40+             12                 $2.08

In [116]:
# # Purchasing Analysis (Age)

# #Binning Purchase_Data by age
# #Purchase Count
# #Avg. Purchase Price
# #Total Purchase Value
# #Avg.Purchase total per Person by age group

#Creating bins for ages

bins = [0,9, 14, 19, 24, 29, 34, 39, 100]

# Labels for the bins
age_ranges = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=age_ranges)


# Groupby Age Group


age_groupby = purchase_data.groupby("Age Group")["SN"].nunique()

age_groupby

purchase_count_age = age_groupby["Purchase ID"].count()

Avg_Purchase_Price = age_groupby["Price"].mean()

Total_Purchase_Value = (purchase_count_age * Avg_Purchase_Price)

#Creating Data Frame

Purchasing_Analysis = pd.DataFrame({"Purchase Count":purchase_count_age, 
                                    "Average Purchase Price":Avg_Purchase_Price,
                                    "Total Purchase Value": Total_Purchase_Value})
#Formating 


Purchasing_Analysis["Average Purchase Price"] = Purchasing_Analysis["Average Purchase Price"].map("${:.2f}".format)

Purchasing_Analysis["Total Purchase Value"] = Purchasing_Analysis["Total Purchase Value"].map("${:.2f}".format)

Purchasing_Analysis

KeyError: 'Purchase ID'

In [117]:
#Top Spenders (5)

# grouping by SN

top_spenders = purchase_data.groupby("SN")


# The count of total purchases by name

purchase_count_spenders = top_spenders["Price"].mean()

#Average purchase by name

Avg_purchase_price_spenders = top_spenders["Price"].mean()

# Total Purchase per spender

total_purchase_spenders = top_spenders["Price"].sum()


#creating dataFrame

Top_Spenders = pd.DataFrame({"Purchase Count":purchase_count_spenders, 
                "Average Purchase Price": Avg_purchase_price_spenders,
                "Total Purchase Value":total_purchase_spenders})

# Sorting and Formating

spenders_formating = Top_Spenders.sort_values(["Total Purchase Value"],ascending= False).head()

Top_Spenders["Average Purchase Price"] = Top_Spenders["Average Purchase Price"].map("${:,.2f}".format)

Top_Spenders["Total Purchase Value"] = Top_Spenders["Total Purchase Value"].map("${:,.2f}".format)
                                              
                                              
Top_Spenders

               Purchase Count Average Purchase Price Total Purchase Value
SN
Adairialis76         2.280000                  $2.28                $2.28
Adastirin33          4.480000                  $4.48                $4.48
Aeda94               4.910000                  $4.91                $4.91
Aela59               4.320000                  $4.32                $4.32
Aelaria33            1.790000                  $1.79                $1.79
...                       ...                    ...                  ...
Yathecal82           2.073333                  $2.07                $6.22
Yathedeu43           3.010000                  $3.01                $6.02
Yoishirrala98        4.580000                  $4.58                $4.58
Zhisrisu83           3.945000                  $3.94                $7.89
Zontibe81            2.676667                  $2.68                $8.03

[576 rows x 3 columns]

In [125]:
# Most Popular items

#Retrieving Item ID, Item columns price and Item Name

Items_Data = purchase_data[["Item ID","Item Name","Price"]]

#Grouping by Item ID and Item Name

Items_Data_grouped = Items_Data.groupby(["Item ID", "Item Name"])

# grouped Purchase count 

items_purchase_count = Items_Data_grouped["Price"].count()
                                

#Purchase Value 

Total_Purchase_value = Items_Data_grouped["Price"].sum()

# Item Price

Item_Price = Total_Purchase_value / items_purchase_count
                                        
# Average Purchase price per user
                                        
average_Purchase_price = Items_Data_grouped["Price"].mean()
                                    

#Creating a Data Frame

Popular_Items = pd.DataFrame({"Purchase Count":items_purchase_count,
                              "Item Price":Item_Price,
                              "Total Purchase Value":Total_Purchase_value})

#Formating

Popular_Items["Item Price"]= Popular_Items["Item Price"].map("${:,.2f}".format)

Popular_Items["Total Purchase Value"]= Popular_Items["Total Purchase Value"].map("${:,.2f}".format)

# Sorting in descending order

sorting_popular_items = Popular_Items.sort_values("Purchase Count", ascending = False)

Popular_Items.head (5)

                            Purchase Count Item Price Total Purchase Value
Item ID Item Name
0       Splinter                         4      $1.28                $5.12
1       Crucifer                         3      $3.26                $9.78
2       Verdict                          6      $2.48               $14.88
3       Phantomlight                     6      $2.49               $14.94
4       Bloodlord's Fetish               5      $1.70                $8.50

In [90]:
# Most Profitable Items

#Identify the 5 most popular items by purchase count
 #Item ID
 # Item Name
 #Purchase Count
 #Item Price
 #Total Purchase Value
    
Most_Profitable_Items = Popular_Items.sort_values("Total Purchase Value", ascending = False)

Most_Profitable_Items = Popular_Items.loc[:,["Purchase Count","Item Price","Total Purchase Value"]]

Most_Profitable_Items.head (5)

                            Purchase Count Item Price Total Purchase Value
Item ID Item Name
0       Splinter                         4      $1.28                $5.12
1       Crucifer                         3      $3.26                $9.78
2       Verdict                          6      $2.48               $14.88
3       Phantomlight                     6      $2.49               $14.94
4       Bloodlord's Fetish               5      $1.70                $8.50